.hex_1 {
    display: inline-block;
    padding: 10px;
    height: 300px;
    width: 300px;
    background: white;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.hex_2 {
    padding: 1px;
    height: 300px;
    width: 300px;
    background: black;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.hex_3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    padding: 1rem;
    height: 250px;
    width: 250px;
    background: white;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.hex_4 {
    height: 250px;
    width: 250px;
    background: black;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.hex_4 h3 {
    margin: 0 auto;
    padding-top: 40%;
}


/* ------------------------ */

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .hex_button {
        margin: 0;
        padding: 0;
        
    }

    .hidden_summary {
        padding-top: 4rem;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 95vh;
    }

    .skill_box {
        display: block;  
        border: solid 1px #800020;
    }

    .scroll_skills {
        height: 100%;
        list-style: none;
        margin: 0 0 0 0;
        padding: 0;        
        white-space: nowrap;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        text-align:justify;
    }

    .desk_br {
        display: none;
    }

    .skill_disc {
        text-align: center;
        
    }

    .skill_subHeader {
        font-size: large;
        
    }

    .scroll_skills ol {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .bottom_space {
        margin-bottom: 10rem;
    }

    .skill_header {
        font-size: xx-large;
        margin: 3rem 0 0 1rem;
        text-align: left;
    }

    .x_button {
        margin-top: 3rem;
    }
}
  
/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {

    .hidden_summary {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50vw;
        height: 75vh;
    }

    .skill_body {
        margin-top: 5rem;
    }

    .hex_button {
        margin: 0;
        padding: 0;
        
    }

    .hidden_summary {
        padding-top: 4rem;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 95vh;
    }

    .skill_box {
        display: block;  
        border: solid 1px #800020;
    }

    .scroll_skills {
        height: 100%;
        list-style: none;
        margin: 0 0 0 0;
        padding: 0;        
        white-space: nowrap;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        text-align:justify;
    }

    .desk_br {
        display: none;
    }

    .skill_disc {
        text-align: center;
        
    }

    .skill_subHeader {
        font-size: large;
        
    }

    .scroll_skills ol {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .bottom_space {
        margin-bottom: 10rem;
    }

    .skill_header {
        font-size: xx-large;
        padding-top: 3rem;
    }

    .x_button {
        margin-top: 3rem;
    }
}
  
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
    .hidden_summary {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50vw;
        height: 75vh;
    }
    
    .hex_button {
        margin: 0;
        padding: 0;
        display: inline;
    }

    .skill_box {
        display: inline-block;    
        margin-right: 1rem;
        padding: 1rem;
        border-right: solid black 1px;
        max-width: 700px;
    }

    .hidden_summary ol {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        white-space: nowrap;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch; 
    }
    .skill_disc {
        padding-bottom: 2px;
        border-bottom: solid black 1px;
    }

    .mobile_br {
        display: none;
    }

    .skill_subHeader {
        font-size: large;
    }

    .skill_header {
        font-size: xx-large;
        margin: 1rem 0 0 1rem;
        text-align: left;
    }
}

/* ------------------------ */

.hidden_summary {
    color: white;
    background-color: #0D0D0D;
    margin: auto;
}

.skill_subHeader {
    font-size: large;
}

.x_button {
    float: right;
    margin: 1rem 1rem 0 0;
    background-color: #0D0D0D;
    border: none;
    color: white;
    font-size: xx-large;
}

.overlay_skills {
    display: inline-block;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #800020; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }