/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .hero_img {
        display: none;
    }
    
}
  
/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
    .hero_sub {
        position: absolute;
        top: 65%;
        left: 10%;
    }
    
    .hero {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    
    .fixed_layer {
        position: absolute;
        z-index: 5;
        text-align: center;
        margin-left: 25%;
    }
}
  
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .hero_sub {
        position: absolute;
        top: 65%;
        left: 5%;
    }

    .hero {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    
    .fixed_layer {
        position: absolute;
        z-index: 5;
        text-align: center;
        margin-left: 25%;
    }

}

/* ------------------------ */

